/* .body {
  background-color: rgb(80, 87, 85);
  border-radius: 10px;
  padding: 20px;
} */

.btn {
  border-radius: 8px;
  border: 1px solid transparent;
  /* padding: 0.6em 1.2em; */
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}
.btn:hover{
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}

.btn-editItemBtn {
  background-color: #fabc4a;
  color: #20201f;
}

.btn-editBtn {
  background-color: #fabc4a;
  color: #20201f;
}

.btn-removeItemBtn {
  background-color: #ff4d4d;
  color: #ffffff,
}

.btn-submitBtn {
  background-color: #4da9ff;
  color: #ffffff;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: rgb(80, 87, 85);
  border-radius: 10px;
  padding: 20px;
}
